.user-list__item {
  padding: 10px 0;
  border-bottom: 2px solid #3b4252;
  width: 100%;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease background-color;
  .user-list__item-username {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
  }
  &:hover {
    background-color: #3b4252;
  }
}
